.diet_manage {
  width : 70%;
  border : 1px solid black;
  text-align: center;
  margin : 0 auto;
  margin-top : 100px;
}

.diet_manage th {
  border : 1px solid black;
  padding : 5px;
}

.diet_manage td {
  border : 1px solid black;
  padding : 20px;
}

.diet_table {
  position: absolute;
  top : 8%;
  left : 50%;
  transform: translate(-50%, -50%);
  font-size : 30px;
  font-weight: 700;
  color : green;
}

.diet_day {
  font-weight: 700;
}

.diet_point {
  background-color: lightgray;
}